* {
  box-sizing: border-box;
}

h1 {
  background-color: rgb(84, 139, 216);
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
}

body {
  background-color: rgb(115, 162, 238);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(194, 210, 254);
  border-radius: 25px;
}

.homebar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.homebar li {
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 25px;
}

.homebar a {
  text-decoration: none;
  color: rgb(84, 139, 216);
  border: 2px solid rgb(84, 139, 216);
  border-radius: 8px;
  padding: 5px;
}

.homebar a:hover {
  color: rgb(4, 52, 119);
  border: 0;
}

#Toronto-Market-Place {
  width: 20%;
}

#Toronto-Market-Place img {
  width: 100%;
}

#Parliament img {
  width: 100%;
}

#Gatineau img {
  width: 100%;
}

#Glebe img {
  width: 100%;
}

#Segelflug img {
  width: 100%;
}

#Parliament {
  width: 25%;
}

#Glebe {
  width: 25%;
}

#Segelflug {
  width: 25%;
}

#Gatineau {
  width: 25%;
}

.image-galery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.image-galery img {
  padding: 5px;
  background-color: rgb(59, 106, 146);
}

.contact-info {
  color: white;
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

figcaption {
  color: rgb(59, 106, 146);
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

#Bewerbungsfoto {
  width: 20%;
}

.contact-foto {
  column-count: 2;
  column-width: auto;
  column-gap: 20px;

  display: flex;
  justify-content: right;
  margin: 20px;
  background-color: rgb(59, 106, 146);
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.about-me img {
  padding: 5px;
  background-color: rgb(59, 106, 146);
}

#Winterberg {
  width: 80px;
}

#Island-Schwestern {
  width: 80px;
}
