/* Flobal Configs and reset */
* {
  box-sizing: border-box;
}

:root {
  font-family: "Times New Roman", Times, serif;

  /* Color palette */
  --first-color: rgb(84, 139, 216);
  --second-color: rgb(59, 106, 146);
  --third-color: rgb(4, 52, 119);
  --fourth-color: rgb(115, 162, 238);
  --fifth-color: rgb(194, 210, 254);
}

h1 {
  background-color: var(--first-color);
  color: white;
  text-align: center;
  font-size: 60px;
}

body {
  background-color: var(--fourth-color);
}

/* Navigation and Header */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--fifth-color);
  border-radius: 25px;
}

.homebar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.homebar li {
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-size: 25px;
}

.homebar a {
  text-decoration: none;
  color: var(--first-color);
  border: 2px solid var(--first-color);
  border-radius: 8px;
  padding: 5px;
}

.homebar a:hover {
  color: var(--third-color);
  border: 0;
}

/* Main page content */

.image-galery figure {
  flex-basis: 20%;
}

.image-galery figure img {
  width: 100%;
  padding: 5px;
  background-color: var(--second-color);
}

.image-galery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

/* Contact page content */

.contact-info {
  color: white;
  padding: 50px;
  font-size: 20px;
}

figcaption {
  color: var(--second-color);
  font-size: 17px;
}

#Bewerbungsfoto {
  width: 20%;
}

.contact-foto {
  column-count: 2;
  column-width: auto;
  column-gap: 20px;

  display: flex;
  justify-content: right;
  margin: 20px;
  background-color: var(--second-color);
}

/* About me page content */

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.about-me img {
  padding: 5px;
  background-color: var(--second-color);
}

#Winterberg {
  width: 80px;
}

#Island-Schwestern {
  width: 80px;
}
